/*
 *  SOCIAL_COLORS
 */

$facebook: #3b5998;
$twitter:  #43bfe1;
$dribbble: #ea4c89;
$github:   #171515;
$google:   #db4437;
$youtube:  #c4302b;
$linkedin: #3272bd;

/*
* Main colors 
*/

$grey:#606161;
$dark-grey:#494a4c;
$light-grey: #e6e6e6;
$green: #81fcbd;
$orange: #ec7e5b;
$blue:#61e7ea;
$yellow:#fdec96;
